:root {
  --white: #ffffff;
  --black: rgb(0, 0, 0, );
  --darkgrey: rgb(12, 12, 12);
  --hoverpink: #c81784;
  --shadowpink: #ffb4e2;


}

* {
  font-family: 'Verdana', 'Monaco', sans-serif;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
  background-color: var(--darkgrey);
  color: var(--white);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin-bottom: 15px;
  padding: 2px;
}

h1 {
  width: 10%;
  font-weight: 450;
  margin-left: 3%;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

h1:hover {
  color: var(--hoverpink);
  text-shadow: 0px 0px 30px var(--shadowpink);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav {
  color: var(--white);
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-right: 0px;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

}

nav a:link,
a:visited {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  color: var(--white);
  text-shadow: 0px 0px 30px var(--white);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;

}

nav a:active {
  color: var(--white);
  text-decoration: none;
}

h2 {
  font-weight: 150;
  font-size: xx-large;
  margin-left: 25px;
}

b:hover {
  color: #f749b4;
  text-shadow: 0px 0px 30px #78004a;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

h3 {
  font-weight: 20;
  font-size: x-large;
  margin-left: 25px;
  color: #f4f4f4;
}

#heroBanner {
  background-image: url("../images/imgbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  padding: 15px;

}

.heroText {
  color: white;
  cursor: pointer;
  text-align: center;
  position: absolute;

}

h4 {
  font-weight: 65;
  font-size: large;
  color: #f4f4f4;
  margin-left: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

}


#mainText {
  font-size: medium;
  font-weight: lighter;
}

.leftGrid {
  display: flex;
  width: 20%;
  margin-left: 3px;


}

.rightGrid {
  display: flex;
  width: 75%;
  align-items: center;
  padding-left: 15px;
  border-left: 7px solid;
  border-color: black;


}

#workGridArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

}

.exampleArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#work {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
    "example5 example5 example5"
    "example6 example3 example3"
    "example6 example4 example2"
    "example6 example4 example2"
  ;
}

.etext {
  background-color: var(--black);
  padding: 10px;
  height: 20px;
  color: var(--white);
  font-size: 14px;
}

#example2 {
  grid-area: example2;
  background-image: url(../images/img2.png);
  height: 490px;
  width: 290px;

}

#example3 {
  grid-area: example3;
  background-image: url(../images/img3.png);
  height: 240px;
  width: 590px;
}

#example4 {
  grid-area: example4;
  background-image: url(../images/img4.png);
  height: 490px;
  width: 290px;
}

#example5 {
  grid-area: example5;
  background-image: url(../images/img5.png);
  height: 240px;
  width: 890px;
}

#example6 {
  grid-area: example6;
  background-image: url(../images/img6.png);
  height: 740px;
  width: 290px;
}

#example2:hover,
#example3:hover,
#example4:hover,
#example5:hover,
#example6:hover {
  color: var(--white);
  box-shadow: 0 5px 15px var(--white);
}

h5 {
  font-weight: 65;
  font-size: large;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  margin-left: 3%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin-bottom: 15px;
  padding: 2px;
  margin-top: 15px;
}

#contactInfo {
  color: var(--white);
  display: flex;
  flex-direction: row;
  width: 65%;
  margin-right: 5px;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

#contactInfo a:link,
a:visited {
  color: var(--white);
  text-decoration: none;
}

#contactInfo a:hover {
  color: var(--white);
  text-shadow: 0px 0px 30px var(--white);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;

}

#contactInfo a:active {
  color: var(--white);
  text-decoration: none;
}

#contactInfo p:hover {
  color: var(--white);
  text-shadow: 0px 0px 30px var(--white);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}